<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>AB12C9D4-DA29-4A5D-8680-1EA79AE510B9</key>
		<array>
			<integer>284</integer>
		</array>
	</dict>
	<key>CompileFolder</key>
	<string>/Users/erinhengel/Dropbox/Readability/draft</string>
	<key>MainWindowIsFullScreen</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>92C41DA9-4B7F-4A75-9ED9-5FE82D5E7B71</key>
		<dict>
			<key>BinderUUID</key>
			<string>92C41DA9-4B7F-4A75-9ED9-5FE82D5E7B71</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>482 283 475 522 0 0 1440 877 </string>
		</dict>
	</dict>
	<key>RecentMoveTos</key>
	<array>
		<integer>2</integer>
		<integer>61</integer>
	</array>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>UnhoistedBinderState</key>
	<array>
		<integer>0</integer>
		<integer>7</integer>
		<integer>194</integer>
		<integer>9</integer>
		<integer>231</integer>
		<integer>13</integer>
		<integer>283</integer>
		<integer>214</integer>
		<integer>286</integer>
		<integer>285</integer>
		<integer>217</integer>
		<integer>292</integer>
		<integer>259</integer>
		<integer>269</integer>
		<integer>263</integer>
		<integer>299</integer>
		<integer>1</integer>
	</array>
	<key>binderIsCollapsed</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {296, 1330}}</string>
		<string>{{297, 0}, {965, 1330}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>C2F868D5-0993-468D-9BA1-B1B3CCDD11B6</string>
		<string>13535585-A497-4FFA-B94B-30B8D25B5E5E</string>
		<string>91D308F1-FCC7-4479-94C4-1AFE4E664CB2</string>
		<string>C68D3686-72FF-47AB-BF44-37CC33B9B14C</string>
		<string>1D724DCE-7C3F-4B21-928C-A6E7D99D4CA0</string>
		<string>F97F3B14-C5E0-4BC4-8E55-A73A9617216A</string>
		<string>E0305587-9547-4338-BCF1-EC4994D166D6</string>
		<string>28B4E2C9-F726-4822-A245-EF9F1C2B7CDE</string>
		<string>2898D675-9504-4E38-8828-5B4B5EED218D</string>
		<string>1BD4AF95-951B-446B-8D6F-BA28F0445598</string>
		<string>5F7D2065-CFA9-4A41-8503-E5485CDF451F</string>
		<string>E8C2F9DA-7160-4BE1-8B89-4DA8E012BE0D</string>
		<string>9CCC98A2-CA39-4B40-BFE1-A8A3E0BD9FC5</string>
		<string>1CA292A5-32B3-4C5A-969D-EC3DBF1AE137</string>
		<string>462F4C77-ADD6-4646-97AC-3C2648409855</string>
	</array>
	<key>binderWidth</key>
	<real>268</real>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0477AD99-CF5A-40D7-86C0-1AB71F370AFA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0AA73007-2541-415F-A159-0C285887C000</key>
		<dict>
			<key>DocID</key>
			<string>7F311019-A771-4CA6-82C1-66C7C5C6EC4F</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>0B4EE5DC-9826-447C-83FE-33CBE62B4D6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0D157A8A-4F7E-4FAC-BA03-572162E1537B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0E7D4589-611F-442D-850A-17258698B6E2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0F42141D-7EF3-42ED-8A99-7BA16F18625B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>10F9894E-55C7-4312-92A8-7A7F80C9058D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>119B1A81-EB7C-4F6C-AE03-CB1C45C9FA1C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>13474993-1A32-496D-A5D5-6E852669517B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>175B78D7-2A1B-4F7D-8780-739D8F2651D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>17818161-DA57-4FCE-8C30-68D0C68AC96D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>18029C4D-D238-4F64-9727-102F69C6CA43</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>18500215-43BF-4A40-9C02-0E4034ABF985</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A7A1607-1167-44C7-ABAB-AC899C53BF8D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1B6066FF-ADC1-48E0-A984-5C708FCDF967</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1BD4AF95-951B-446B-8D6F-BA28F0445598</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1CA292A5-32B3-4C5A-969D-EC3DBF1AE137</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D724DCE-7C3F-4B21-928C-A6E7D99D4CA0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1DA036F0-69BD-4B4F-9848-2BFAF0681621</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1E7FDF0C-FEAE-488C-804A-8632B4A3F129</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2416FA7C-EC60-4A59-894E-511C6F249ADF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2441C81C-90C3-4585-B581-A7FCCCC66C0D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2608C4D4-3A6F-4D5D-80BD-764A4848ACBA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>26F43626-DC8D-4D5C-873E-3F3E457A59B2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2898D675-9504-4E38-8828-5B4B5EED218D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>28B4E2C9-F726-4822-A245-EF9F1C2B7CDE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>29A31DD2-C169-4A85-822A-D29E31F6BA9F</key>
		<dict>
			<key>DocID</key>
			<string>B6599A7A-F4BD-4E4B-8210-5FB9A4C2C83B</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>2AA5D637-7E4D-47EC-B6D7-24B613D651E2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2B8F28F0-5F53-4FE6-B84B-F6F3007EECE7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2CD510B8-DC99-4C58-8939-92490FC7BEE6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D388486-9B1B-481D-8613-4488645916E0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2F7CF3CD-4205-4C06-9BCD-570342589891</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>33054FFA-2997-4165-94F9-0FD0E66C0167</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3595D8FE-749A-4AED-BBAF-7FDFA16280A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>35E34F9E-C912-4C4C-AF35-EEB8D22B5720</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3647574A-8EE1-45C3-B993-32CBA73B91B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>368582DB-A926-4377-A113-433CA3E708E6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>39237732-77A0-4FEE-A26D-77ECE8A9EA9F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3BF9D3D3-7E94-45F7-9978-1132940BDF45</key>
		<dict>
			<key>DocID</key>
			<string>7F311019-A771-4CA6-82C1-66C7C5C6EC4F</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>3D4820AE-D0B6-4745-94A3-34AFDB24DBA2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3DD332CF-27D4-4597-9B28-44889B1A7427</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3EDF16EB-93A7-4221-8FCF-5D0874FAE5C2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3F925459-8380-4EC0-991B-304A205B43D8</key>
		<dict>
			<key>DocID</key>
			<string>7B75AF10-D60E-4946-A17B-AA58B5A61C3F</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>446183A8-F5D9-4C49-8821-3FF368B70629</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>46171C41-FA25-46F1-A4C4-0EAC31F84F64</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4CF1715E-BCE1-4286-83D4-C9323DB533BE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>53EF818D-92E4-43C2-8C5A-A012C5E98E9A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>575DB6AE-23C1-4C53-94DC-C1976F581540</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5ABF8EA6-409A-467F-A815-FC4437CE8E10</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>610A19BE-EEC0-447E-9D4F-A6F55990F6DD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6242A060-EDB5-404F-9160-EACCE6C41F6E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>65CC5F5E-498B-453A-8A20-433A92BAF329</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>65E90209-1D4A-4125-AC52-233E54319A29</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6B416027-752E-4EE0-AADB-3EEA6C218A10</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>754D37AA-57F4-4150-AB74-190131E7CE56</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>780763A2-6960-4C0D-8436-57C20440F28A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7BC6299C-6393-4E8D-9B04-050656159485</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7CCF514E-E6AE-4E0B-A543-CB9AD657BFD3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7DB3228B-44E4-4081-AD8B-DD93EE91A189</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7EC30A3C-D3B1-4696-8D15-77F10174FB53</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D97AAB2-10CC-429C-9080-177F0B18C0FD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8EDD2579-E7F5-48CC-BBBE-C048BCBD97F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>91D308F1-FCC7-4479-94C4-1AFE4E664CB2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>92C41DA9-4B7F-4A75-9ED9-5FE82D5E7B71</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>959D7027-8576-46E3-A7A1-19AD065607C6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98172269-46CB-4743-B9F8-470C64155500</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9CCC98A2-CA39-4B40-BFE1-A8A3E0BD9FC5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9EF0B983-B683-4E55-9C24-45C99343DA21</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9F847DA0-8962-40D9-BFA9-CA2FF3FD54BD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FC896E1-7B41-4A06-88F0-211DC8101806</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9FF77E42-25B4-48AC-92C9-B6AC81BFE131</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A4941446-2CDC-467D-8237-CB36E2E1BE3B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A93AC44A-82E5-4444-B6C0-9ADC63CB55A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AD3EFF8F-2949-4CF4-ABE8-69514717A082</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AFBB5973-031A-40E0-8A4F-DB041B3876A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B4274C52-4B25-452A-92C4-11AB5031CDD2</key>
		<dict>
			<key>DocID</key>
			<string>7F311019-A771-4CA6-82C1-66C7C5C6EC4F</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>B574767E-5F2C-433A-8F56-2F2577254B6C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B6599A7A-F4BD-4E4B-8210-5FB9A4C2C83B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B8F4B6D9-7AB3-427A-8FF5-9DB01D5CD64B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BBEAE4B9-77E2-4D9A-9159-B37801964FD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C68D3686-72FF-47AB-BF44-37CC33B9B14C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C9F7934E-6FC3-4EEC-8282-D201AFCD6308</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CA03D0ED-0104-442B-9711-F2B3AEB42E3D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D06F6684-AD5E-4D28-8703-9F31A3CDC3CE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D381DEFB-0D28-48AE-A520-9886F09628F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D46F9339-CF33-4A6A-912C-955BC643A9E9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D61D4703-AFC6-424B-BADE-B0F242136E96</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DAFC1B78-BEAA-4FDB-BCFD-EDC5F3230177</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DC0D39EB-E0F9-4045-8936-1BEAC5BC35C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E00827F0-A403-45E5-AF50-679ACC49059D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E0305587-9547-4338-BCF1-EC4994D166D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E0973260-0CFF-4E86-9842-51C4C2604B5F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAA52082-F700-45E5-B5C7-E000FBF4FA4A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>ECC1FB8B-17EA-40D7-B78A-7433F847347C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F0A739EF-20B6-42C6-86F4-2312EA990C73</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F24572C5-14EA-4BC5-948F-71584CDA9167</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F62E35A4-0A8E-4694-884A-B07FD59166D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F97F3B14-C5E0-4BC4-8E55-A73A9617216A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FC7BF06E-B752-4791-B4CA-8CB9E0DF0741</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FF57AED3-6EAB-4B34-9983-D1C235D464C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>1</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {296, 100}}</string>
		<string>{{0, 101}, {296, 1203}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<false/>
	<key>customMetaDataWrapsAllFields</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{369, 0}, {368, 1300}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>0.89999997615814209</real>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1120</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>inspectorGeneralPaneIsCollapsed</key>
	<false/>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>114.9423828125</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>3</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {737, 1300}}</string>
		<string>{{738, 0}, {227, 1300}}</string>
	</array>
	<key>inspectorSynopsisIsCollapsed</key>
	<false/>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>customid</string>
		<string>telephone</string>
		<string>address</string>
		<string>abstract</string>
		<string>date</string>
		<string>longtitle</string>
		<string>position</string>
		<string>department</string>
		<string>subject</string>
		<string>jel</string>
		<string>keywords</string>
		<string>shorttitle</string>
		<string>affiliation</string>
		<string>e-mail</string>
		<string>thanks</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 1212}}</string>
	<key>mainDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<true/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentView</key>
	<string>supportingDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>1112 57 1262 1358 0 0 2560 1415 </string>
	<key>projectNotesSplitState</key>
	<array>
		<string>{{0, 0}, {147, 383}}</string>
		<string>{{148, 0}, {374, 383}}</string>
	</array>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<true/>
		<key>currentCompileGroupOnly</key>
		<false/>
		<key>excludeAnnots</key>
		<false/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<true/>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<false/>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>showInvisibles</key>
	<true/>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.PDFDisplayMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.PDFScale</key>
	<real>1</real>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<string>C2F868D5-0993-468D-9BA1-B1B3CCDD11B6</string>
	</array>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>customid</string>
		<string>telephone</string>
		<string>address</string>
		<string>abstract</string>
		<string>date</string>
		<string>longtitle</string>
		<string>position</string>
		<string>department</string>
		<string>subject</string>
		<string>jel</string>
		<string>keywords</string>
		<string>shorttitle</string>
		<string>affiliation</string>
		<string>e-mail</string>
		<string>thanks</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedRanges</key>
	<string>{363, 0}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<true/>
		<key>isRulerVisible</key>
		<true/>
		<key>textScale</key>
		<integer>110</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
